@media (min-width: 1200px){

body{
    margin: 0;
    background-color: #BBC3A5;
    cursor: default;
}

#main_slide{
    margin: 0;
    width: 100%;
    height: 800px;
    background-image: url(img/main_slide_1.jfif);
    background-size: 100% 100%;
}

#headerM{
    background-color: rgba(16, 46, 14, 0.7);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    display: grid;
}

#header{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

#MainMenu_social{
    display: none;
}

#close{
    display: none;
}

#header .logo{
    width: 60px;
    height: 60px;
    margin-top: 25px;
}

#header #number_header{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 29px;
color: #F4A123;
margin-left: 670px;
margin-top: 38px;
margin-right: 16px;
width: 240px;
height: 35px;
}

#header .social{
    margin-top: 34.2px;
    margin-left: 16px;
}

#header .social img{
    width: 30px;
    height: 30px;
}

#header #menu_img{
    width: 50px;
    height: 38px;
    margin-top: 31px;
    margin-left: 32px;
}

#header #menu_img:hover{
    opacity: 85%;
    cursor: pointer;
}

#catalog_body{
    display:none;
    width: 100%;
    height: 100%;
    position: fixed;
}

#catalog{
    background-color: rgba(16, 46, 14, 0.7);
    width: 435px;
    height: 800px;
    display:block;
    position:fixed;
    z-index: 10000000;
    right: 0;
    margin-top: 100px;
}

@keyframes menu{
    from{
        margin-top: 0;
    }

    to{
        margin-top: 35%;
    }
}

#main_menu{
    display: block;
    width: 246px;
    height: 362px;
    padding-left: 27px;
    margin-top: 35%;
    animation-duration: 0.5s;
    animation-name: menu;
}

#main_menu a{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
display: block;
opacity: 100%;
margin-bottom: 25px;
}

#main_menu a:hover{
    color: #F4A123;
    cursor: pointer;
}

#main_slide #title{
    margin: 0;
}

#main_slide #title #title_name{
width: 857px;
height: 77px;
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 104px;
color: #FFFFFF;
margin-left: 135px;
padding-top: 348px;
margin-bottom: 0;
margin-top: 0;
}

#main_slide #title #desc{
width: 570px;
height: 40px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
margin-left: 135px;
margin-top: 8px;
padding-bottom: 40px;
}

#msg{
    width: 329px;
    height: 82px;
    background-color: #189D0E;
    cursor: pointer;
    text-decoration: none;
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 39px;
color: #FFFEFE;
border-radius: 30px;
padding-top: 26.5px;
padding-bottom: 16.5px;
padding-left: 60.5px;
padding-right: 60.5px;
margin-left: 141px;
}

#msg:hover{
    opacity: 90%;
}

#about_us_slide{
    background-color: #BBC3A5;
    display: flex;
    margin-top: 103px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#about_us_slide #photo{
    display: flex;
}

#about_us_title{
writing-mode:vertical-rl;
transform: scale(-1);
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 69px;
color: #102E0E;
text-align: center;
margin:0;
}

#about_us_slide img{
    width: 670px;
    height: 411px;
    border-radius: 40px;
}

#desc_about_us{
    display: flex;
    height: 411px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

#desc_about_us #div_thesis{
    display: inline-block;
    width: 341px;
    height: 90px;
}

#desc_about_us #div_thesis pre{
width: 341px;
height: 90px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #102E0E;
margin-top: 11px;
margin-left: 33px;
margin-bottom: 0;
}

#div_description{
    display: flex;
}

#div_description #vertical_line{
width: 3px;
height: 172px;
background: #102E0E;
margin-left: 33px;
margin-top: 32px;
}

#div_desc_p{
    margin-top: 58px;
    margin-left: 21px;
}

#div_description h2{
display: block;
width: 346px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #102E0E;
margin: 0;
margin-bottom: 16px;
}

#desc_about_us .buttons img{
    width: 71px;
    height: 71px;
    margin-right: 47px;
}

#desc_about_us .buttons img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#desc_about_us .buttons{
    margin-left: 33px;
    margin-top: 32px;
}

#video_slide{
    margin-top: 103px;
    position: relative;
}

#video_slide #video{
    width: 100%;
}

#video_slide #circle_play{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #D9D9D999;
    opacity: 60%;
    position: absolute;
    border: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#video_slide #circle_play img{
    width: 75px;
    height: 75px;
    padding-top: 5px;
    padding-left: 20px;
}

#video_slide #circle_play:hover{
    cursor: pointer;
    opacity: 90%;
}

#video_slide #circle_play:focus{
    display: none;
}

#why_always_we{
    display: flex;
    margin-top: 103px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#why_always_we #div_waw_text #waw_text{
writing-mode:vertical-rl;
transform: scale(-1);
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 69px;
color: #102E0E;
text-align: center;
margin: 0;
}

#arg_up img{
    width: 100px;
    height: 130px;
    margin-left: 552px;
}

.header_arg{
font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #102E0E;
text-align: center;
}

.text_arg{
width: 263px;
height: 25px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #102E0E;
}

#arg_up h1{
margin-left: 506px;
margin-top: 16px;
margin-bottom: 0;
width: 191px;
height: 30px;
}

#arg_up pre{
    margin-left: 470px;
    margin-top: 8px;
    width: 263px;
    height: 25px;
}

#arg_down{
    display: flex;
}

#arg_down_left{
    margin-left: 82px;
    width: 350px;
}

#arg_down_right{
    width: 350px;
    margin-left: 301px;
}

#arg_down_left img{
    padding-left: 113px;
    height: 103px;
}

#arg_down_right img{
    padding-left: 125px;
    height: 103px;
}

#arg_down_left .header_arg{
padding-left: 3.5px;
padding-top: 16px;
margin:0;
width: 343px;
height: 30px;
}

#arg_down_left .text_arg{
    padding-left: 45px;
    padding-top: 8px;
    margin:0;
    width: 260px;
    height: 50px;
}

#arg_down_right .header_arg{
    padding-left: 46px;
    padding-top: 16px;
    margin:0;
width: 258px;
height: 30px;
}

#arg_down_right .text_arg{
    padding-left: 35px;
    padding-top: 8px;
    margin:0;
    width: 280px;
    height: 50px;
}

.waw_btn{
width: 350px;
height: 60px;
background: #F4A123;
border: 0;
box-shadow: 0px 4px 4px #748054;
border-radius: 20px;
color: #FFFFFF;
font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
}

#arg_down_left .waw_btn{
    margin-top: 16px;
}

#arg_down_right .waw_btn{
    margin-top: 16px;
}

.waw_btn:hover{
    background: #102E0E;
    cursor: pointer;
}

#brooms{
    height: 279px;
    margin-top: 103px;
    background-image: url(img/brooms.png);
    background-size: 100% 100%;
    display: flex;
}

#brooms_txt{
width: 360px;
height: 105px;
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
color: #FFFFFF;
margin: 0;
padding-top: 87px;
}

#white_line{
width: 3px;
height: 172px;
background-color: #FFFFFF;
margin-top: 53.5px;
margin-left: 130px;
margin-right: 20px;
}

#bath_attendant_txt{
width: 360px;
height: 105px;
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
color: #F4A123;
margin: 0;
padding-top: 87px;
}

#brooms .alig{
    width: 983px;
}

.alig{
margin-left: auto;
margin-right: auto;
display: flex;
width: 1200px;
}

#kitchen{
    margin-top: 103px;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#kitchen_txt{
writing-mode:vertical-rl;
transform: scale(-1);
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 69px;
color: #102E0E;
text-align: center;
margin:0;
width: 69px;
}

#plov{
    background-image: url(img/plov.png);
    background-size: 100% 100%;
}

#shashlyk{
    background-image: url(img/shashlyk.png);
    background-size: 100% 100%;
}

#shurpa{
    background-image: url(img/shurpa.png);
    background-size: 100% 100%;
}

.eat{
    width: 370px;
    height: 370px;
    border: 40px;
    margin-right: 30px;
    text-align: center;
    display: grid;
}

.kitchen_p{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;     
    line-height: 26px;
    color: #FFFFFF;
}

.eat:hover{
    filter: grayscale(.25);
    transform: scale(1.02);
}

#sales{
    height: 700px;
    background-image: url(img/bilyard.png);
    background-size: 100% 100%;
    margin-top: 103px;
    display: grid;
    grid-auto-rows: 0;
}

#sales_grid{
    display: grid;
}

#sale_text{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 65px;
text-align: center;
color: #FFFFFF;
margin: 0;
padding-top: 182px;
display: block;
height: 120px;
}

#sale_text b{
    color: #F4A123;
}

#sale_desc{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
text-align: center;
margin: 0;
display: block;
height: 40px;
margin-top: 16px;
}

#rectangle_reserve{
    width: 365px;
    height: 65px;
    border-radius: 30px;
    background-color: #189D0E;
    font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 34.72px;
color: #FFFEFE;
border: 0;
padding-top: 10.5px;
}

#rectangle_reserve:hover{
    cursor: pointer;
    opacity: 90%;
}

#reserve_btn{
    margin-bottom: 0;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    margin-top: 32px;
}

#reviews{
    background-color: #BBC3A5;
    display: flex;
    margin-top: 103px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#reviews_title{
writing-mode:vertical-rl;
transform: scale(-1);
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
color: #102E0E;
text-align: center;
margin-right: 0;
width: 69px;
height: 453px;
margin: 0;
}

#desc_reviews{
    display: flex;
}

#reviews #desc_reviews img{
    width: 570px;
    height: 358px;
    margin-top: 24px;
    margin-left: 30px;
    border-radius: 40px;
}

#desc_reviews #h_reviews{
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
color: #102E0E;
margin-left: 24px;
margin-top: 139px;
margin-bottom: 0;
}

#reviews_description{
    display: flex;
}

#reviews_description #vertical_line{
width: 3px;
height: 172px;
background: #102E0E;
margin-left: 70px;
margin-top: 117px;
}

#reviews_description #p_reviews{
width: 346px;
height: 120px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #102E0E;
margin-left: 24px;
margin-top: 22px;
margin-bottom: 0;
}

#reviews .buttons img{
    width: 71px;
    height: 71px;
    margin-right: 47px;

}

#reviews .buttons img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#reviews .buttons{
    margin-left: 50%;
    margin-top: 32px;
}

#proverb{
    margin-top: 103px;
    background-image: url(img/poleno.png);
    width: 100%;
    height: 252px;
    background-size: 100% 100%;
    display: grid;
}

#proverb_txt{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
width: 670px;
margin: auto;
}

#proverb_txt b{
    color: #F4A123;
}

footer{
    padding-top: 103px;
    background-color: #102E0E;
}

#map{
    width: 570px;
    height: 405px;
    border-radius: 30px;
    margin-left: 135px;
}

#location{
    display: flex;
}

#info #welcom{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
color: #FFFFFF;
text-shadow: 5030px 4px 4px rgba(0, 0, 0, 0.25);
margin: 0;
margin-left: 30px;
}

#adress{
    margin-left: 30px;
    display: flex;
    margin-top: 30px;
}

#adress_h{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: 0;
margin-top: 20px;
}

#adress_p{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 39px;
color: #FFFFFF;
margin: 0;
margin-left: 30px;
}

#contacts{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

#contacts_h{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    }

#contacts_p{
        font-family: 'Ruslan Display';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 39px;
        color:#F4A123;
        width: 470px;
        margin: 0;
        margin-left: 30px;
        margin-top: 1px;
}

#social{
    display: flex;
    margin-top: 16px;
    margin-left: 30px;
}

#social img{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

#foot_menu{
    display: flex;
    margin-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

#foot_line{
    width: 1170px;
    height: 3px;
    background-color: #BBC3A5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 103px;
}

#foot_menu img{
    width: 70px;
    height: 70px;
    margin-right: 45px;
    margin-bottom: 0;
}

#foot_menu_txt{
    margin-top: 8px;
}

#foot_menu_txt a{
    text-decoration: none;
    color: #FFFFFF;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
padding-right: 18px;
}

#foot_menu_txt a:hover{
    color: #F4A123;
}
}








































@media (max-width: 450px){
    body{
        margin: 0;
        background-color: #BBC3A5;
        cursor: default;
    }
    
    #main_slide{
        margin: 0;
        width: 100%;
        height: 500px;
        background-image: url(img/main_slide_1_Mob.jfif);
        background-size: 100% 100%;
    }
    
    #headerM{
        background-color: rgba(16, 46, 14, 0.7);
        height: 52px;
        width: 100%;
        position: fixed;
        z-index: 100000;
        display: grid;
    }

    #header{
        display:flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    #catalog_body{
        display:none;
    }
    
    #catalog{
        background-color: rgba(16, 46, 14, 1);
        width: 100%;
        height: 100%;
        display:grid;
        position:fixed;
        z-index: 10000000;
    }

    #catalog img{
        width: 20px;
        height: 20px;
        justify-self: end;
        margin-top: 8px;
        margin-right: 8px;
    }

    #main_menu{
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }
    
    #main_menu a{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    opacity: 100%;
    margin-bottom: 8px;
    width: 164px;
    }
    
    #main_menu a:hover{
        color: #F4A123;
        cursor: pointer;
    }

    #MainMenu_social{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }
    
    #MainMenu_social img{
        width: 32px;
        height: 32px;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    #header .logo{
        width: 30px;
        height: 30px;
        margin-top: 16px;
        margin-left: 16px;
    }
    
    #header #number_header{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #F4A123;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 110px;
    }
    
    #header .social{
        display: none;
    }
    
    #header #menu_img{
        width: 20px;
        height: 20px;
        margin-top: 21px;
        margin-right: 16px;
        float: right;
    }
    
    #header #menu_img:hover{
        opacity: 85%;
        cursor: pointer;
    }
    
    #main_slide #title{
        margin: 0;
        width: 275px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #main_slide #title #title_name{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
color: #FFFFFF;
margin: 0;
text-align: center;
padding-top: 267px;
    }
    
    #main_slide #title #desc{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
width: 152px;
height: 36px;
margin: 0;
padding-top: 16px;
display: block;
    }
    
    #msg{
        width: 190px;
        height: 35px;
        background-color: #189D0E;
        cursor: pointer;
        text-decoration: none;
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #FFFEFE;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
    padding-top: 6px;
    padding-bottom: 4px;
    display: block;
    }
    
    #msg:hover{
        opacity: 90%;
    }
    
    #about_us_slide{
        background-color: #BBC3A5;
        margin-top: 80px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }
    
    #about_us_title{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #102E0E;
    text-align: center;
    margin: 0;
    height: 29px;
    margin-bottom: 16px;
    }

    #about_us_slide{
        display: flexbox;
        order:2;
    }

    #about_us_slide img{
        width: 288px;
        height: 250px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #desc_about_us{
        display: grid;
        flex-flow: row wrap;
    }

    #desc_about_us #div_thesis{
        display: flexbox;
        order: -1;
        width: 100%;
    }
    
    #desc_about_us #div_thesis pre{
    width: 100%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #102E0E;
    margin: 0;
    text-align: center;
    }
    
    #div_description{
        display: flexbox;
        order: 3;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div_description #vertical_line{
    width: 3px;
    height: 133px;
    background: #102E0E;
    margin-left: 8px;
    display: inline-block;
    margin-top: 32px;
    }

    #div_desc_p{
        width: 275px;
        display: inline-block;
        margin: 0;
        margin-left: 12px;
    }
    
    #div_description h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #102E0E;
    margin: 0;
    display: block;
    margin-bottom: 16px;
    }
    
    #desc_about_us .buttons img{
        width: 40px;
        height: 40px;
        margin-right: 8px;
        margin-left: 8px;
    
    }
    
    #desc_about_us .buttons img:hover{
        transform: scale(1.02);
        cursor: pointer;
    }
    
    #desc_about_us .buttons{
        margin-left: 33px;
        margin-top: 16px;
        display: flexbox;
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }
    
    #video_slide{
        margin-top: 32px;
        position: relative;
    }
    
    #video_slide #video{
        width: 100%;
    }
    
    #video_slide #circle_play{
        border-radius: 50%;
        width: 64px;
        height: 64px;
        background-color: #D9D9D999;
        opacity: 60%;
        position: absolute;
        border: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    #video_slide #circle_play img{
        width: 32px;
        height: 32px;
        padding-top: 5px;
        padding-left: 10px;
    }
    
    #video_slide #circle_play:hover{
        cursor: pointer;
        opacity: 90%;
    }
    
    #video_slide #circle_play:focus{
        display: none;
    }
    
    #why_always_we{
        display: grid;
        margin-top: 80px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #why_always_we #div_waw_text #waw_text{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #102E0E;
    text-align: center;
    }
    
    #arg_up{
        display: grid;
    }

    #arg_up img{
        width: 40px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }
    
    .header_arg{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: #102E0E;
    text-align: center;
    }
    
    .text_arg{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #102E0E;
    }
    
    #arg_up p{
    margin: 0;
    }
    
    #arg_up pre{
        margin: 0;
    }
    
    #arg_down{
        display: grid;
    }
    
    #arg_down_left{
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }
    
    #arg_down_right{
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }
    
    #arg_down_left img{
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        margin-bottom: 16px;
    }
    
    #arg_down_right img{
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        margin-bottom: 16px;
    }
    
    #arg_down_left p{
    margin:0;
    }
    
    #arg_down_left pre{
        margin:0;
    }
    
    #arg_down_right p{
        margin:0;
    }
    
    #arg_down_right pre{
        margin:0;
    }

    #arg_down a{
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;

    }

    .waw_btn{
    width: 216px;
    height: 40px;
    background: #F4A123;
    border: 0;
    box-shadow: 0px 4px 4px #748054;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    }
    
    #arg_down_left .waw_btn{
        margin-top: 16px;
    }
    
    #arg_down_right .waw_btn{
        margin-top: 16px;
    }
    
    .waw_btn:hover{
        background: #102E0E;
        cursor: pointer;
    }
    
    #brooms{
        height: 279px;
        margin-top: 80px;
        background-image: url(img/brooms_Mob.png);
        background-size: 100% 100%;
        display: grid;
        text-align: center;
    }
    
    #brooms_txt{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 64px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    }
    
    #white_line{
    width: 172px;
    height: 3px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    opacity: 50%;
    }
    
    #bath_attendant_txt{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #F4A123;
    margin: 0;
    margin-top: 32px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    }
    
    #kitchen{
        margin-top: 80px;
        display: grid;
        width: 100%;
    }
    
    #kitchen .alig{
        display: grid;
    }

    #kitchen_txt{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #102E0E;
    text-align: center;
    margin:0;
    margin-bottom: 16px;
    }
    
    #plov{
        background-image: url(img/plov.png);
        background-size: 100% 100%;
    }

    #shashlyk{
        background-image: url(img/shashlyk.png);
        background-size: 100% 100%;
    }

    #shurpa{
        background-image: url(img/shurpa.png);
        background-size: 100% 100%;
    }

    .kitchen_p{
        margin:0;
        width: 170px;
        font-family: 'Ruslan Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: #FFFFFF;
        margin:auto;
    }

    .eat{
        width: 288px;
        height: 288px;
        border: 30px;
        text-align: center;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }

    #sales{
        background-image: url(img/bilyard_Mob.png);
        background-size: 100% 100%;
        margin-top: 80px;
        display: grid;
        height: 439px;
    }

    #sales_grid{
        margin-top: 113px;
        height: 61px;
        display: grid;
    }
    
    #sale_text{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    height: 42px;
    }
    
    #sale_text b{
        color: #F4A123;
    }
    
    #sale_desc{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    height: 19px;
    margin-top: 16px;
    }
    
    #rectangle_reserve{
        width: 288px;
        height: 45px;
        border-radius: 10px;
        background-color: #189D0E;
        font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFEFE;
    border: 0;
    }
    
    #rectangle_reserve:hover{
        cursor: pointer;
        opacity: 90%;
    }
    
    #reserve_btn{
        margin-bottom: 0;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        height: 45px;
        margin-top: 60px;
    }
    
    #reviews{
        background-color: #BBC3A5;
        display: grid;
        margin-top: 80px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #reviews_title{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 69px;
    color: #102E0E;
    text-align: center;
    margin: 0;
    }

    #reviews_div{
        display: grid;
    }
    
    #desc_reviews{
        display: grid;
    }
    
    #reviews #desc_reviews img{
        width: 288px;
        height: 173px;
        border-radius: 20px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    #desc_reviews #h_reviews{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #102E0E;
    margin: 0;
    margin-left: 8px;
    margin-top: 8px;
    }
    
    #reviews_description{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    #reviews_description #vertical_line{
    width: 3px;
    height: 107px;
    background: #102E0E;
    margin-top: 16px;
    }
    
    #reviews_description #p_reviews{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #102E0E;
    margin: 0;
    margin-top: 8px;
    width: 260px;
    margin-left: 8px;
    }
    
    #reviews .buttons img{
        width: 40px;
        height: 40px;
        margin-right: 8px;
        margin-left: 8px;
    
    }
    
    #reviews .buttons img:hover{
        transform: scale(1.02);
        cursor: pointer;
    }
    
    #reviews .buttons{
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }
    
    #proverb{
        margin-top: 80px;
        background-image: url(img/brooms2_Mob.png);
        width: 100%;
        height: 136px;
        background-size: 100% 100%;
        display: grid;
    }
    
    #proverb_txt{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.28px;
    text-align: center;
    color: #FFFFFF;
    width: 310px;
    margin: auto;
    }
    
    #proverb_txt b{
        color: #F4A123;
    }
    
    footer{
        padding-top: 32px;
        background-color: #102E0E;
    }
    
    #map{
        display: none;
    }
    
    #location{
        display: grid;
    }

    #info{
        display: grid;
    }
    
    #info #welcom{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 5030px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    }
    
    #adress{
        display: grid;
        margin-top: 8px;
    }
    
    #adress_h{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    }
    
    #adress_p{
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    margin-top: 8px;
    }
    
    #contacts{
        display: grid;
        margin-top: 8px;
    }
    
    #contacts_h{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        }
    
    #contacts_p{
            font-family: 'Ruslan Display';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color:#F4A123;
            margin: 0;
            text-align: center;
            margin-top: 8px;
    }
    
    #social{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }
    
    #social img{
        width: 32px;
        height: 32px;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    #foot_menu{
        display: none;
    }
    }