body{
    margin: 0;
    cursor: default;
    background-image: url('img/banya.jpg');
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    margin: 0;
    display: flex;
}

#left{
    width: 100%;
    height: 100%;
    right: 0;
}

#head{
    display: flex;
}

#head img{
    width: 80px;
    height: 80px;
    margin-top: 45px;
    margin-left: 45px;
}

#head img:hover{
    cursor: pointer;
}

#middle{
    display: flex;
}

#middle h2{
writing-mode:vertical-rl;
transform: scale(-1);
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 104px;
color: #FFFFFF;
margin: 0;
margin-left: 32px;
height: 455px;
width: 52px;
margin-top: 3%;
}

#price h1{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 69px;
color: #ffffff;
margin: 0;
margin-top: 27%;
margin-left: 382px;
}

#price h1 b{
    color: #F4A123;
}

#price p{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 25px;
color: #FFFFFF;
margin: 0;
margin-left: 452px;
width: 450px;
text-align: center;
}

#foot{
    display: flex;
}

#foot h3{
font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 43px;
color: #F4A123;
margin: 0;
margin-left: 126px;
margin-top: 32px;
}

#rectangle_reserve{
    width: 365px;
    height: 65px;
    border-radius: 30px;
    background-color: #189D0E;
    margin-top: 8px;
    font-family: 'Ruslan Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 34.72px;
color: #FFFEFE;
border: 0;
padding-top: 10.5px;
margin-top: 16px;
}

#rectangle_reserve:hover{
    cursor: pointer;
    opacity: 90%;
}

#reserve_btn{
    text-decoration: none;
    margin-left: 497px;
}

#arrow_buttons img{
    width: 71px;
    height: 71px;
    margin-right: 47px;

}

#arrow_buttons img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#arrow_buttons{
    margin-top: 16px;
    margin-left: 159px;
}